.idea/
.vscode/
node_modules/
tmp/
temp/
charts
dist
.next
storybook-static/
cypress/
.verdaccio/
.ssg/

scripts/determineChanges.sh
scripts/drone_build_backend.sh
scripts/shouldBuild.sh
scripts/compose.sh

.env
.env.prod
.env.development
.env.production
.DS_Store
.yarnrc
.yarnclean
.prettierrc
.eslintcache
.eslintrc.js
.dockerignore
.prettierignore
tsconfig.tsbuildinfo
cypress.json
scripts/run-pipeline.sh
docker-compose.env
build.env