.idea/
.vscode/
node_modules/
build/
tmp/
temp/
charts
dist
.next
storybook-static/
cypress/

.env
.env.prod
.DS_Store
.yarnclean
.prettierrc
.eslintcache
.eslintrc.js
.dockerignore
.prettierignore
tsconfig.tsbuildinfo
cypress.json
medium-2ed68760b511.json